In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## 移动窗口函数

In [3]:
s = pd.Series([2,3,3,np.nan,5,6])

In [4]:
s

0    2.0
1    3.0
2    3.0
3    NaN
4    5.0
5    6.0
dtype: float64

In [5]:
s.rolling(window=2).sum() # 在大小为2的窗口中计算统计量

0     NaN
1     5.0
2     6.0
3     NaN
4     NaN
5    11.0
dtype: float64

In [8]:
s.rolling(window=2,min_periods=1).sum() # 每个窗口的最少观察值，少于即为Nan

0     2.0
1     5.0
2     6.0
3     3.0
4     5.0
5    11.0
dtype: float64

In [13]:
s.rolling(window=2,win_type='triang').sum() # 截取窗口的窗函数

0    NaN
1    2.5
2    3.0
3    NaN
4    NaN
5    5.5
dtype: float64

### expanding
与rolling类似，不同的是，窗口大小会扩大

In [14]:
s.expanding(min_periods=2).sum() # 窗口中最少可观测值

0     NaN
1     5.0
2     8.0
3     8.0
4    13.0
5    19.0
dtype: float64

In [15]:
df = pd.DataFrame({
    'a':[1,2,3,4],
    'b':[2,4,5,6]
})

In [16]:
df

   a  b
0  1  2
1  2  4
2  3  5
3  4  6

In [22]:
df.rolling(window=2).mean()

     a    b
0  NaN  NaN
1  1.5  3.0
2  2.5  4.5
3  3.5  5.5

## 指数加权窗口函数